{%extends 'main/base.html'%}

 {% block content %}

 <body>
 
  <main>
  
    <section class="py-5 text-center container">
      <div class="row py-lg-1">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{category.title}}</h1>

        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {%for image in images%}
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{image.squareImage.url}}" height="350" alt="">

  
              <div class="card-body">
                
                
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <a href="{%url 'image-detail' slug1=category.slug slug2=image.slug%}"><button type="button" class="btn btn-sm btn-outline-secondary" data-target="#">Image Details</button></a> 
                  </div>
                  <small class="text-muted">{{image.date_created|date}}</small>
                </div>
              </div>
            </div>
          </div>

        
          {%endfor%}


        </div>
      </div>
    </div>
  
  </main>
  
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1 text-center">App Created by Juliana 2021</p>
      
    </div>
  </footer>
</body>
 

 {% endblock %}


